@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

::-webkit-scrollbar {
  height: 8px;
  width: 4px;
}

.Mui-selected {
  background-color: yellow;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px rgba(190, 190, 190, 0.3);
  background: #9c9c9c;
}

.scav::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(190, 190, 190, 0.3);
  border-radius: 10px;
  background-color: #f8f8f8;
}

.scav-root::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px rgba(190, 190, 190, 0.3);
  background: #9c9c9c;
}
