@font-face {
    font-family: 'DM Sans';
    font-weight: 400;
    src: url('/assets/fonts/DM_Sans/static/DMSans_18pt-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'DM Sans';
    font-weight: 500;
    src: url('/assets/fonts/DM_Sans/static/DMSans_18pt-Medium.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'DM Sans';
    font-weight: 700;
    src: url('/assets/fonts/DM_Sans/static/DMSans_18pt-Bold.ttf') format('truetype');
  }