@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Make sure the app takes the full height of the viewport */
}

.main-container {
  display: flex;
  flex-grow: 1; /* Ensure this section takes all the remaining space after the header */
}

.sidebar {
  width: 250px; /* Set a fixed width for the sidebar */
  flex-shrink: 0; /* Prevent the sidebar from shrinking */
}

.content {
  flex-grow: 1; /* Ensure content takes up the remaining space */
  overflow-y: auto; /* Allow scrolling if content overflows */
  background-color: #1f2937; /* Example background color for content area */
  padding: 20px; /* Add padding to the content area */
}


::-webkit-scrollbar {
  height: 8px;
  width: 4px;
}

.Mui-selected {
  background-color: yellow;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px rgba(190, 190, 190, 0.3);
  background: #9c9c9c;
}

.scav::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(190, 190, 190, 0.3);
  border-radius: 10px;
  background-color: #f8f8f8;
}

.scav-root::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px rgba(190, 190, 190, 0.3);
  background: #9c9c9c;
}
